# Composer dependencies
/vendor/
/wp/
/wp-content/vendor

# WordPress core
!wp-content/
wp-content/plugins/*
wp-content/themes/*

# Include manually managed plugins and themes
!/wp-content/themes/twentytwentytwo/
!/wp-content/themes/twentytwentythree/
!/wp-content/themes/twentytwentyfour/

# If using a global wp-content directory, adjust paths as needed
